<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <ngb-carousel #carousel *ngIf="interests">
            <ng-template ngbSlide *ngFor="let interest of interests;">
            <div class="picsum-img-wrapper">
                <img [src]="interest.image_file" alt="{{interest.name}}">
            </div>
            <div class="carousel-caption">
                <h3>{{interest.name}}</h3>
                <p>{{interest.image_caption}}</p>
            </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="col-md-2"></div>
</div>
